/* HEADER ELEMENTS */

.header {
    /*background-color: pink;*/
    overflow: auto;
}

.size {
    height:30px;
    margin:7px;
}

.size-sun {
    height:20px;
    margin:10px;
}

.icons {
    /*background-color: Aqua;*/
    float:right;
    margin:25px;
}

.library {
    /*background-color: Yellow;*/
    font-family: 'Varela Round';
    float:left;
    font-size: 40px;
    margin:20px;
}

/* BODY ELEMENTS */

#overlay {
    position: absolute;
    top: 260px;
    left: 545px;
}

#overlay-text {
    
}

body {
    background-color: rgb(237, 239, 240);
    font-family: 'Varela Round';
}

h5 {
    font-family: 'Varela Round';
    float:right;
    margin:2%;;
}

.modules {
    overflow: auto;
}

.box {
    margin:1%;
    margin-bottom: 3%;
    width:48%;
    height:300px;
    border-radius: 10px;
    overflow: auto;
}

.box-body {
    padding:3%;
    background-color: white;
    height:250px;
}

.head {
    width:100%;
    height:16%;
    border-radius: 10px 10px 0px 0px;
}

.buttons {
    float: left;
}

.play-star {
    float: right;
    margin: auto;
}

.java {
    float: left;
}

.java-head {
    background-color: rgb(44,150,118);
}

.django {
    float: right;
}

.django-head {
    background-color: rgb(240,146,176);
}

.woo {
    float: left;
}

.woo-head {
    background-color: rgb(131,140,199);
}

.javafx {
    float: right;
}

.javafx-head {
    background-color: rgb(44,150,118);
}
